!!! 5
html
    head
        title RadDeck
        link(rel='stylesheet', href='/deck.css')
        link(rel='shortcut icon', href='/favicon.ico')
    body
        #menu
            #questions.menu-button ?
            #previous.menu-button ⇦
            #next.menu-button ⇨
        #questions-area.menu-area
            div(style='white-space: nowrap;')
                div Top questions
                div Newest questions
                div Ask a question                                        
        #slides
            #area
                .slide
                    h2 What is RadDeck?
                    ul
                        li Real-time
                        li Audience
                        li Dialogue
                .slide
                    h2 Questions
                    ul
                        li Students ask
                        li Students vote
                        li Professors answer
                .slide
                    h2 Competitors
                    ol
                        li
                            a(href='http://echo360.com/') Echo360
                        li
                            a(href='http://eclicker.com/') eClicker

        script(src='/zepto.js')
        script(src='/socket.io/socket.io.js')
        script(src='/deck.js')

