!!! 5
html
    head
        title Askadoo
        link(rel='stylesheet', href='/deck.css')
        link(rel='shortcut icon', href='/favicon.ico')
    body
        #menu
            #questions.menu-button: img(src="/question.png")
            #previous.menu-button: img(src="/next.png")
            #next.menu-button: img(src="/previous.png")
            #resume.menu-button.disabled: img(src="/follow.png")
        #questions-area.menu-area
            .menu-pad
                #questions-section
                    #question-tabs.menu-tabs
                        #top-questions.menu-tab.on Top voted
                        #new-questions.menu-tab Newest
                    #questions-list
                #ask-section
                    #ask-question
                        #ask-prompt Ask a question
                        div: textarea#question-text
        #slides
            #slide-area
                .slide
                    h2 What is Askadoo?
                    ul
                        li Real-time
                        li Audience
                        li Dialogue
                .slide
                    h2 Questions
                    ul
                        li Students ask
                        li Students vote
                        li Professors answer
                .slide
                    h2 Competitors
                    ol
                        li
                            a(href='http://echo360.com/') Echo360
                        li
                            a(href='http://eclicker.com/') eClicker
                .slide.quiz
                    div.log
                    h2 Sample Quiz Slide 1
                    p x + 2 = 5, find x.
                    ul
                        li 1
                        li 2
                        li 3
                        li 4


                .slide.quiz
                    div.log
                    h2 Sample Quiz Slide 2
                    p 3x = 6, find x.
                    ul
                        li 1
                        li 2
                        li 3
                        li 4


        script(src='/zepto.js')
        script(src='/socket.io/socket.io.js')
        script(src='/deck.js')

