!!! 5
html
    head
        title AskEdu
        link(rel='stylesheet', href='/deck.css')
        link(rel='shortcut icon', href='/favicon.ico')
    body
        #menu
            #questions.menu-button: img(src="/question.png")
            #previous.menu-button: img(src="/previous.png")
            #next.menu-button: img(src="/next.png")
            #resume.menu-button.disabled: img(src="/follow.png")
        #questions-area.menu-area
            .menu-pad
                #questions-section
                    #question-tabs.menu-tabs
                        #top-questions.menu-tab.on Top voted
                        #new-questions.menu-tab Newest
                    div#question-list
                    div#chat-box
                        h3#chat-title
                        div#chat-area
                #ask-section
                    #ask-question
                        #ask-prompt Ask a question
                            button#submit-question Submit
                        div: textarea#question-text
                    #chat-res
                        input#chat-send-box(type='text', name='chat-response')
                        button#submit-chat Send
        #slides
            #slide-area

                .slide
                    img.bg(src='/auditorium.jpg')
                    h2 Problem
                    ul(style='font-size:0.9em')
                        li 92% of students are distracted by devices
                        li Lectures are one-way
                        li Hard to ask questions in large classes

                .slide
                    img.bg(src='/solution.png')

                .slide
                    img.bg(src='/quad.jpg')
                    h2 Market
                    ul
                        div(style="margin-left:-1em") US
                        li 4,500+ Degree-granting institutions
                        li 20.3 million college students
                        li Echo360 raised $31 million in 2012

                .slide
                    img.bg(src='/quad.jpg')
                    h2 Go To Market Strategy
                    ul
                        li Focus on higher learning
                        li Get early adopters
                        li Free for instructors

                .slide.quiz
                    img.bg(src='/kanye.jpg')
                    h2 Which rapper quote most embodies AskEdu?
                    ul
                        li U can't touch this
                        li.correct Stop, collaborate and listen
                        li I'mma let you finish
                    .progress: .gap: .log

                .slide
                    img.bg(src='/team.jpg')
                    h2 Questions?
                    ul
                        li Sam Eubank - Engineer
                        li Katie Fraser - Biz Dev
                        li Janna Jacobson - Educator
                        li Sean Aryana - Engineer

        script(src='/zepto.js')
        script(src='/socket.io/socket.io.js')
        script(src='/deck.js')
        script(src='/questions.js')

