doctype
html
    head
        title Askadoo - Ask. Interact. Learn.
        link(rel="stylesheet", href="/site.css")
        meta(name="viewport", content="width=device-width,initial-scale=1")
    body
        #stripe
            .panel
                a(href="/") Sign in
                b |
                a(href="/") Get Support
                b |
                a(href="/") Blog
                b |
                a(href="/") Contact
        #head
            .panel
                h1#logo(href="/")
                    img(src="/logo.png")
                    <span>Ask</span>adoo
                h2#problem “Students just aren’t engaged. Half of the time, they’re texting.”
        #feature
            .panel
                iframe(src="/deck")
                a#play(href="/deck")
                h2#tagline Ask. <span>Interact.</span> Learn.
                img(src="/devices.png")
        #body
            panel
                block content
        #foot
            .panel
                .quarter
                    h3 How it Works
                    p Our simple solutions get results in both engagement and outcomes. Find out how, in 90 seconds.
                    a(href="/") Learn more
                .tri &nbsp;
                .quarter
                    h3 Before Class
                    p Instructors share presentations in advance, so students are ready to participate in active learning.
                    a(href="/") Learn More
                .tri &nbsp;
                .quarter
                    h3 During Class
                    p Students follow along with presentations, asking questions digitally and answering others' questions.
                    a(href="/") Learn More
                .tri &nbsp;
                .quarter.end
                    h3 After Class
                    p Students have study tools at their fingertips anywhere, anytime. Instructors track outcomes to continuously improve.
                    a(href="/") Learn More
                br

        script(src="/site.js")