!!! 5
html
    head
        title RadDeck
        link(rel='shortcut icon', href='/favicon.ico')
    body
        form(method="post")
            Please Enter your first name initial followed by your last name.
            input(type="text", name="studentId")
            input(type="submit", value="Submit")
