!!!
html
	head
		title= "RadDeck"
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='/interact.js')
		script(src='/socket.io/socket.io.js')
	body
		div#1(styl="width: 50px; height: 50px;") 1
		div#2(styl="width: 50px; height: 50px;") 2