html {
    position: relative;
    height: 100%;
}

html, body {
    overflow: hidden;
}

body, textarea {
    font: normal 20px Arial;
}

h2 {
    margin: 0.5em 0 0 0;
    font-size: 1.3em;
    white-space: nowrap;
    
}

li {
    line-height: 1.5em;
}

ol, ul {
    margin-left: 1em;
}

#menu {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1.6em;
    border-right: 0.04em solid #889;
    background: #bbc; /* Old browsers */
    background: -moz-linear-gradient(left, #889 0%, #bbc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#889), color-stop(100%,#bbc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #889 0%,#bbc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #889 0%,#bbc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #889 0%,#bbc 100%); /* IE10+ */
    background: linear-gradient(to right, #889 0%,#bbc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888899', endColorstr='#bbbbcc',GradientType=1 ); /* IE6-9 */
    overflow: hidden;
    opacity: 0.95;
}

.menu-area {
    position: absolute;
    background: #bbc;
    left: 1.6em;
    top: 0;
    bottom: 0;
    width: 0;
    border-right: 0.04em solid #667;
    z-index: 2;
    overflow: hidden;
    transition: width 0.5s;
}

.menu-area.on {
    width: 12em;
}

.menu-button {
    display: block;
    margin: 0.5em auto;
    width: 1.3em;
    height: 1.3em;
    border: 0.04em solid #667;
    border-radius: 0.2em;
    text-align: center;
    opacity: 0.6;
    background: #bbc;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.menu-button:hover {
    opacity: 1;
}

.menu-button img {
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
}

#slides {
    position: absolute;
    z-index: 1;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 1.6em;
    right: 0;
}

.slide {
    position: absolute;
    top: 0;
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
}

.quiz ul {
    list-style-type: none;
}

.log {
    width: 0%;
    transition: width 0.5s;
    margin-left: 20%;
    background-color: gray;
    height: 1em;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 0;
}

.answerlog {
    transition: width 0.5s;
    z-index: -10;
    position: absolute;
    width: 0%;
    height: 24px;
    background-color: rgb(180, 180, 214);
}

#slide-area {
    position: relative;
    margin-left: 1em;
}

.menu-pad {
    position: relative;
    height: 100%;
}

#questions-section {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    left: 0.5em;
    bottom: 4em;
}

#ask-section {
    position: absolute;
    right: 0.5em;
    bottom: 0.2em;
    left: 0.5em;
    height: 3em;
}

#ask-prompt {
    white-space: nowrap;
    font-size: 0.8em;
}

#question-text {
    width: 100%;
}

.menu-tabs {
    width: 12em;
}

.menu-tab {
    float: left;
    padding: 0.1em;
    font-size: 0.8em;
    border: 0.04em solid #999;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: 0;
    padding: 0.1em 0.4em;
    margin: 0 0.2em 0 0;
}

.menu-tab.on {
    background: #eee;
}

.disabled, .disabled:hover {
    opacity: 0.2;
    cursor: default;
}

@media (orientation: portrait) {

    #menu {
        left: 0;
        right: 0;
        bottom: 0;
        height: 1.6em;
        width: 100%;
        top: auto;
        border-top: 0.04em solid #889;
        background: #bbc; /* Old browsers */
        background: -moz-linear-gradient(top, #889 0%, #bbc 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, bottom left, bottom right, color-stop(0%,#889), color-stop(100%,#bbc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(bottom, #889 0%,#bbc 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(bottom, #889 0%,#bbc 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(bottom, #889 0%,#bbc 100%); /* IE10+ */
        background: linear-gradient(to top, #889 0%,#bbc 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#889aaa', endColorstr='#bbcddd',GradientType=0 ); /* IE6-9 */
    }

    .menu-area {
        left: 0;
        right: 0;
        width: 100%;
        top: auto;
        bottom: 0;
        height: 0;
        border-top: 0.04em solid #667;
        transition: height 0.5s;
    }

    .menu-area.on {
        height: 8em;
    }

    .menu-button {
        margin: 0.15em 0.5em;
        float: left;
    }

    #slides {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 1.6em;
        right: 0;
    }
}
