html {
    position: relative;
    height: 100%;
}

html, body {
    overflow: hidden;
}

body, textarea {
    font: normal 20px Arial;
}

h2 {
    font-size: 1.3em;
    background: url(/double-shade.png);
    margin: 0.5em 0;
    padding: 0.4em 1em 0.1em 0.5em;
    color: #000;
    text-shadow: 0.1em 0.1em 0.1em #d6a810;
}

li {
    line-height: 1.5em;
}

ol, ul, p {
    margin-left: 1em;
    background: url(/shade.png);
    margin: 0;
    padding: 0.5em 0.5em 0.5em 2em;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.1em #000;
}

#menu {
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1.6em;
    border-right: 0.04em solid #889;
    background: #bbc; /* Old browsers */
    background: -moz-linear-gradient(left, #889 0%, #bbc 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#889), color-stop(100%,#bbc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #889 0%,#bbc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #889 0%,#bbc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #889 0%,#bbc 100%); /* IE10+ */
    background: linear-gradient(to right, #889 0%,#bbc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#888899', endColorstr='#bbbbcc',GradientType=1 ); /* IE6-9 */
    overflow: hidden;
    opacity: 0.95;
}

.menu-area {
    position: absolute;
    background: #bbc;
    left: 1.6em;
    top: 0;
    bottom: 0;
    right: 100%;
    border-right: 0.04em solid #667;
    z-index: 2;
    overflow: hidden;
    transition: right 0.2s;
    display: none;
}

.menu-area.on {
    right: 0;
}

.menu-button {
    display: block;
    margin: 0.5em auto;
    width: 1.3em;
    height: 1.3em;
    border: 0.04em solid #667;
    border-radius: 0.2em;
    text-align: center;
    opacity: 0.6;
    background: #bbc;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.menu-button:hover {
    opacity: 1;
}

.menu-button img {
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
}

#slides {
    position: absolute;
    z-index: 1;
    background: #000;
    top: 0;
    bottom: 0;
    left: 1.6em;
    right: 0;
}

.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
    z-index: 3;
}

.bg {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 15em;
}

.quiz ul {
    list-style-type: none;
}

.quiz li {
    line-height: 2em;
    position: relative;
}

.quiz ul {
    padding-left: 1em;
}

input[type=radio] {
    margin: 0 0.5em;
}

label {
    display: block;
    background: url(/shade.png)
}

.progress {
    border: 0.05em solid #889;
    padding: 0.05em;
    background: #112;
    position: absolute;
    bottom: 0.05em;
    left: 0.05em;
    right: 0.05em;
}

.log {
    width: 0%;
    background: #889;
    height: 1em;
    transition: width 0.5s;
}

.answerlog {
    position: absolute;
    bottom: 0;
    transition: width 0.5s;
    z-index: 5;
    width: 0%;
    height: 0.4em;
    background: #c00;
}

.correct .answerlog {
    background: #090;
}

.faded {
    opacity: 0.5;
}

#slide-area {
    position: relative;
    height: 100%;
}

.menu-pad {
    position: relative;
    height: 100%;
}

#questions-section {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    left: 0.5em;
    bottom: 4em;
}

#question-tabs {
    height: 16%;
}
.upvote {
    font-size: .4em;
    margin-right: 5px;
    margin-left: -5px;
}
.question {
    cursor: pointer;
}
.question:hover {
    background-color: lightgray;
    text-decoration: underline;
}
#chat-res {
    display: none;
}
#chat-box {
    display: none;
    height: 100%;
    font-size: .5em;
}
#chat-area {
    height: 80%;
    width: 100%;
    background-color: white;
}
#chat-title {
    margin: 0;
    font-size: 1em;
}

#ask-section {
    position: absolute;
    right: 0.5em;
    bottom: 0.2em;
    left: 0.5em;
    height: 3em;
}

#ask-prompt {
    white-space: nowrap;
    font-size: 0.8em;
}

#question-text {
    width: 100%;
}

.menu-tabs {
    width: 12em;
}

.menu-tab {
    float: left;
    padding: 0.1em;
    font-size: 0.8em;
    border: 0.05em solid #999;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom: 0;
    padding: 0.1em 0.4em;
    margin: 0 0.2em 0 0;
}

.menu-tab.on {
    background: #eee;
}

.disabled, .disabled:hover {
    opacity: 0.2;
    cursor: default;
}

@media (orientation: portrait) {

    #menu {
        left: 0;
        right: 0;
        bottom: 0;
        height: 1.6em;
        width: 100%;
        top: auto;
        border-top: 0.04em solid #889;
        background: #bbc; /* Old browsers */
        background: -moz-linear-gradient(top, #889 0%, #bbc 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, bottom left, bottom right, color-stop(0%,#889), color-stop(100%,#bbc)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(bottom, #889 0%,#bbc 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(bottom, #889 0%,#bbc 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(bottom, #889 0%,#bbc 100%); /* IE10+ */
        background: linear-gradient(to top, #889 0%,#bbc 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#889aaa', endColorstr='#bbcddd',GradientType=0 ); /* IE6-9 */
    }

    .menu-area {
        left: 0;
        right: 0;
        width: 100%;
        top: 100%;
        bottom: 1.6em;
        border-top: 0.04em solid #667;
        transition: top 0.2s;
    }

    .menu-area.on {
        top: 0;
        width: 100%;
    }

    .menu-button {
        margin: 0.15em 0.5em;
        float: left;
    }

    #slides {
        bottom: 1.6em;
        left: 0;
    }
}
